<p id="notice"><%= notice %></p>


<%= image_tag @user_info.picture if @user_info.picture.attached? %>

<p>
  <strong>User:</strong>
  <%= @user_info.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user_info.name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @user_info.date_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user_info.gender %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @user_info.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @user_info.height %>
</p>

<%= link_to 'Edit', edit_user_info_path(@user_info) %> |
<%= link_to 'Back', user_infos_path %>
