<p id="notice"><%= notice %></p>

<h1>Your exercises</h1>
<p><%= link_to "add new exercise", new_exercise_gallery_path %></p>
<div class="card-rows">
    <% @exercise_galleries.map do |exercise_gallery| %>
      <div class="card" style="width: 18rem;">
        <p><%= image_tag(exercise_gallery.picture, class:"card-img-top") if exercise_gallery.picture.attached? %></p>
      
      <div class="card-body">
        <h5 class="card-title"><%= exercise_gallery.name %></h5>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Muscle groups: <%= exercise_gallery.muscle_groups%></li>
      </ul>

      <div class="card-body">
        <%= link_to 'Show', exercise_gallery %>
        <%= link_to 'Edit', edit_exercise_gallery_path(exercise_gallery) %>
        <%= link_to 'Destroy', exercise_gallery, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <% end %>
</div>























