<div class="jumbotron">
  <div class="row">
    <div class="col-md-12 ">
      <h1>Welcome to the Workout Creator</h1>
      <h6 class="sub-heading">Fill your exercise gallery and use them to create and collect customized workouts</h6>
      <div class="btn-div">
        <button type="button" class="home-btns"><%= link_to "Add to exercise gallery", new_exercise_gallery_path %></button>
        <button type="button" class="home-btns"><%= link_to "View exercise gallery", exercise_galleries_path %></button>
        <button type="button" class="home-btns"><%= link_to "Create A New Workout", new_workout_info_path %></button>
        <button type="button" class="home-btns"><%= link_to 'View Existing Workouts', workout_infos_path %></button>
        <button type="button" class="home-btns"><%= link_to 'View/Edit Profile', user_infos_path %></button>
        
      </div>
    </div>
  </div>
</div>