<p id="notice"><%= notice %></p>

<h1>Your Workouts</h1>

<button type="button" class="home-btns"><%= link_to 'Create new workout', new_workout_info_path %></button>

<div class="card-rows">
    <% @workout_infos.map do |workout| %>
      <div class="card" style="width: 18rem;">
        <p><%#= image_tag(workout.picture, class:"card-img-top") if workout.picture.attached? %></p>
      
      <div class="card-body">
        <h5 class="card-title"><%= workout.name %></h5>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Difficulty: <%= workout.difficulty%></li>
        <li class="list-group-item">Muscle groups: <%= workout.muscle_groups%></li>
        <li class="list-group-item">Workout Type: <%= workout.workout_type%></li>
      </ul>

      <div class="card-body">
        <%= link_to 'Show', workout %>
        <%= link_to 'Edit', edit_exercise_gallery_path(workout) %>
        <%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <% end %>
</div>



