<p id="notice"><%= notice %></p>
<div class="heading-centered">
  <h1><%= @workout_info.name %></h1>
</div>
<div class="container show-workouts-table">
  <div class="show-workouts-row">
    <h3 class="table-headings">Difficulty</h3>
    <%= @workout_info.difficulty %>
  </div>
  <div class="show-workouts-row">
    <h3 class="table-headings">Muscle group/s</h3>
    <%= @workout_info.muscle_groups %>  
  </div>
  <div class="show-workouts-row">
    <h3 class="table-headings">Workout type</h3>
    <%= @workout_info.workout_type %>
  </div>
</div>

<div class="buttons">
  <button type="button" class="btn btn-primary btn-lg"><%= link_to "add exercises", new_exercise_info_path, class:"add-exercise"%></button>
  <button type="button" class="btn btn-secondary btn-lg"><%= link_to 'Edit', edit_workout_info_path(@workout_info) %></button>
  <button type="button" class="btn btn-secondary btn-lg"><%= link_to 'Back', workout_infos_path %></button>
</div>


 

